<form action="/api/sessions/change-password" method="POST" class="container text-center text-secondary-emphasis col-6 mt-4 rounded">
    <h1>Cambiar la contraseña</h1>
    
    <!-- INPUTS -->
    <section class="container mt-4 col-8">

        <!-- PASSWORD -->
        <label for="password" class="form-label">Ingresa la nueva contraseña</label>
        <input type="password" id="password" name="password" class="form-control" required><br>
    </section>
    
    <!-- BUTTONS -->
    <section class="mt-4">
        <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
    </section>

</form>