<form action="/api/sessions/recover-password" method="POST" class="container text-center text-secondary-emphasis col-6 mt-4 rounded">
    <h1>Recuperar contraseña</h1>
    
    <!-- INPUTS -->
    <section class="container mt-4 col-8">
        <!-- EMAIL -->
        <label for="email" class="form-label">ingresa el correo electronico de tu cuenta</label>
        <input type="email" id="email" name="email" class="form-control" required><br>
    </section>
    
    <!-- BUTTONS -->
    <section class="mt-4">
        <button type="submit" class="btn btn-primary">Enviar codigo de recuperación</button>
    </section>

</form>